<div class="col-sm-4 no-padding-left">
<%= simple_form_for @classroom, :html => { :class => 'form-horizontal' } do |f| %>
 <% @classroom.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <p><%= msg %></p>
    </div>
    <% end %>
   <div class="form-group">
     <%= f.input :student_id, collection: Student.active.collect {|s| [s.name, s.id]}, input_html: { class: 'form-control btn dropdown-toggle selectpicker btn-default' }  %>
  </div>
	
	<div class="form-group">
     <%= f.input :course_id, collection: Course.open.collect {|c| [c.name, c.id]}, input_html: { class: 'form-control btn dropdown-toggle selectpicker btn-default' }  %>
  </div>

  <%= f.hidden_field :entry_at, value: Time.now %>
	<div class="form-group">


  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                classrooms_path, :class => 'btn btn-default' %>
<% end %>

</div>
