<div class="col-sm-4 no-padding-left">
<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
 		
 		<% @student.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <p><%= msg %></p>
    </div>
  <% end %>
	
   <div class="form-group">
    <%= f.input :name, input_html: {class: 'form-control', maxlength: 45 } %>
  </div>

  <div class="form-group">
    <%= f.input :register_number, input_html: { class: 'form-control', maxlength: 45 } %>
  </div>

  <div class="form-group">
     <%= f.input :status, collection: StudentStatus.to_a, input_html: { class: 'form-control btn dropdown-toggle selectpicker btn-default'} %>
  </div>

  

	<div class="form-group">
  <%= f.button :submit, :class => 'btn-primary' %>

  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>

   </div>
<% end %>
</div>
